<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <solution>
    <add key="disableSourceControlIntegration" value="true" />
  </solution>
  <packageSources>

    <!-- Add the private NuGet package source for this solution -->
    <add key="CodeChangeNuget" value="https://pkgs.dev.azure.com/CodeChange/_packaging/CodeChangeNuget/nuget/v3/index.json" />

  </packageSources>
</configuration>